[submodule "Plugins/FSCL.Compiler.Plugins.StructHandling"]
	path = Plugins/FSCL.Compiler.Plugins.StructHandling
	url = https://github.com/GabrieleCocco/FSCL.Compiler.Plugins.StructHandling.git
[submodule "Plugins/FSCL.Compiler.Plugins.AcceleratedCollections"]
	path = Plugins/FSCL.Compiler.Plugins.AcceleratedCollections
	url = https://github.com/GabrieleCocco/FSCL.Compiler.Plugins.AcceleratedCollections.git
[submodule "FSCL.Compiler.Plugins.AcceleratedCollections"]
	path = FSCL.Compiler.Plugins.AcceleratedCollections
	url = https://github.com/GabrieleCocco/FSCL.Compiler.Plugins.AcceleratedCollections.git
